@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('/cursorweb.svg'), auto;

}

html {
  scroll-behavior: smooth;
cursor: url('/cursorweb.svg'), auto;
}
body {
  font-family: 'Inter', sans-serif;
  z-index: 2;
  overflow: hidden;
  
}
p{
  color: rgb(255, 255, 255);
}

